<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.xwow.waterstation.mapper.XwWaterStationMonthlyMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  xw_water_station_monthly 
		WHERE
			 water_station_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.xwow.waterstation.entity.XwWaterStationMonthly">
		SELECT * 
		FROM  xw_water_station_monthly
		WHERE
			 water_station_id = #{mainId} 	</select>
</mapper>
